@import '@/assets/vars.scss';

.wrapper-toggle-page {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid $grey2;
}
.toggle-page {
  font-size: 14px;
  color: $purple1;
  padding: 20px;
  width: 100%;
  text-align: center;
  position: relative;
  &:not(:first-child) {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      height: calc(100% - 40px);
      transform: translateY(-50%);
      width: 1px;
      background-color: $purple1;
    }
  }
}
