@import '@/assets/vars.scss';

.card {
  height: 80px;
  width: 100%;
  cursor: pointer;
  &:hover {
    .avatar-ovarlay {
      &:after {
        background-color: rgba($purple2, 0.1);
      }
    }
    .block-column {
      background-color: $grey6;
    }
  }
}
.block {
  display: flex;
  justify-content: space-between;
}
.block-column {
  display: flex;
  flex-direction: column;
  width: calc(100% - 80px);
  padding: 5px 10px;
  background-color: $grey3;
  transition: background-color $transition;
}
.avatar-ovarlay {
  position: relative;
  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($purple2, 0);
    transition: background-color $transition;
    z-index: 10;
  }
}
.status {
  text-transform: uppercase;
}
.top-line {
  font-size: 12px;
}
.fullname {
  margin-top: 10px;
}
.message {
  margin-top: auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}