@import '@/assets/vars.scss';

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  min-width: 30px;
  min-height: 30px;
  padding: 3px;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.is-round {
  border-radius: 50%;
}
.initials {
  color: $white;
  text-align: center;
  text-transform: uppercase;
}
