@import '@/assets/vars.scss';

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 290px;
  box-shadow: $shadow2;
  // background-color: $grey6;
  // background-color: #25294a;
  background-color: $grey2;
}
.top-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: $Hheader;
  background-color: #25294a;
  &__link {
    width: calc(100% / 3);
  }
}
.top-menu__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
//
.sidebar-body {
  height: 100%;
  & > div {
    height: 100%;
  }
}
.wrapper-cards {
  display: flex;
  flex-direction: column;
  width: 100%;
  & > div {
    border-bottom: 1px solid $grey2;
  }
}
.empty-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}