// colors
$grey1: #9f9f9f;
$grey2: #e4e4e4;
$grey3: #f3f3f3;
$grey4: #d1d1d1;
$grey5: #ebedf1;
$grey6: #f2f4f5;
$black: #000;
$white: #fff;
$purple1: #7481eb;
$purple2: #9182ff;
$red: #fe7d8b;
$dark-blue1: #272a46;
$green1: #1ec7ac;
// transition
$transition: 0.3s ease-in-out;
// shadow
$shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.17);
// 
$Hheader: 70px;
