// colors
$grey1: #9f9f9f;
$grey2: #e4e4e4;
$grey3: #f3f3f3;
$grey4: #d1d1d1;
$black: #000;
$white: #fff;
$purple: #7481eb;
$red: #fe7d8b;
// transition
$transition: 0.3s ease-in-out;
// shadow
$shadow: 0 2px 24px 0 rgba(0, 0, 0, 0.17);