@import '@/assets/vars.scss';

.main-layout {
  width: calc(100% - 290px);
  // width: calc(100% - 580px);
  height: 100vh;
  margin-left: auto;
  // margin: 0 auto;
}
.content-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: $grey5;
}
.content {
  flex-grow: 1;
  overflow: auto;
}